name: Update Prowlarr Supported Indexers

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    if: github.repository == 'Servarr/Wiki'
    permissions:
      contents: write
    env:
      API_KEY: fakeapikey
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install pip packages
        run: |
          pip3 install -U --no-cache-dir \
            requests==2.31.0 \
            pycountry==22.3.5 \
            python_iso639==2023.6.15

      - name: Update supported indexers markdown
        run: |
          echo "<Config><LaunchBrowser>False</LaunchBrowser><ApiKey>${{ env.API_KEY }}</ApiKey></Config>" | tee prowlarr-config.xml
          docker run -d --rm --name=prowlarr -e TZ=Etc/UTC -p 9696:9696 -v "$(pwd)/prowlarr-config.xml":/config/config.xml ghcr.io/linuxserver/prowlarr:nightly
          sleep 15
          APP_VERSION=$(curl -sL "http://localhost:9696/api?apikey=${{ env.API_KEY }}" -I | awk 'BEGIN {RS="\r\n"; FS=": "}/^X-Application-Version/{print $2}')
          echo "PROWLARR_VERSION=$APP_VERSION" >> $GITHUB_ENV
          echo "PROWLARR_VERSION=$APP_VERSION" >> $GITHUB_STEP_SUMMARY
          python scripts/convert_prowlarr_supported_indexers_to_markdown.py -k "${{ env.API_KEY }}" -u "http://localhost:9696" -o "prowlarr/supported-indexers.md"
          docker stop prowlarr

      - name: Commit changes
        run: |
          git config --global user.name "Servarr"
          git config --global user.email "development@lidarr.audio"
          git checkout -b update-wiki-supported-indexers
          git add prowlarr/supported-indexers.md
          if git status | grep -q modified
          then
            git commit -m "[script] supported indexers $(date --iso-8601=seconds)"
            git push -f --set-upstream origin update-wiki-supported-indexers
            curl -X POST -H "Authorization: Bearer ${{ secrets.PAT }}" -H "Accept: application/vnd.github+json" https://api.github.com/repos/servarr/wiki/pulls -d '{"head":"update-wiki-supported-indexers","base":"master","title":"[script] supported indexers for Prowlarr ${{ env.PROWLARR_VERSION }}"}'
          else
            echo "No changes since last run"
          fi
